body {
    background-image: linear-gradient(to right, #2af598 0%, #009efd 100%);
}

table {
    border: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


button {
    border: transparent !important;
    margin: 0 20px 0 20px !important;
    padding: 0px !important;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: transparent !important;
    color: black !important;
    font-size: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
    outline: none;
    border: transparent;
    font-size: 20px;
    color: black;
    text-align: right;
    margin-top: 10px;
    height: 50px;
    width: 75%;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

::placeholder {
    font-size: 20px !important;
    color: black
}

.container {
    margin-top: 180px;
}